.button {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: background-color 0.2s linear, color 0.2s linear,
    box-shadow 0.2s linear;
  cursor: pointer;
  height: calc(1.2rem + 18px);
  white-space: nowrap;
}

.button--primary {
  background-color: var(--color-button);
  color: var(--color-font-light);
}

@media (hover: hover) {
  .button--primary:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  }
}

.button--primary:focus,
.button--primary:active {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
}

.button--secondary {
  background-color: var(--color-error);
  color: var(--color-font-light);
}

@media (hover: hover) {
  .button--secondary:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  }
}

.button--secondary:focus,
.button--secondary:active {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
}

.button--text {
  background-color: transparent;
  color: var(--color-font-light);
}

@media (hover: hover) {
  .button--text:hover {
    color: var(--color-font);
  }
}

.button--text:focus,
.button--text:active {
  color: var(--color-font);
}

.button--spaceBottom {
  margin-bottom: 2rem;
}

.button--spaceTop {
  margin-top: 1rem;
}

.button--fullWidth {
  width: 100%;
}

.button--centered {
  margin-left: 50%;
  transform: translateX(-50%);
}

.button__icon {
  margin-right: 0.5rem;
}
