.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.button--primary {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

.button--secondary {
  background-color: var(--color-medium);
  color: var(--color-light);
}

@media (hover: hover) {
  .button--secondary:hover {
    background-color: var(--color-dark);
  }
}

.button--secondary:focus,
.button--secondary:active {
  background-color: var(--color-dark);
}

.button--tertiary {
  background-color: transparent;
  color: var(--color-light);
  border: 1px solid var(--color-light);
}

@media (hover: hover) {
  .button--tertiary:hover {
    background-color: var(--color-medium-dark);
  }
}

.button--tertiary:focus,
.button--tertiary:active {
  background-color: var(--color-medium-dark);
}

.button--spaceBottom {
  margin-bottom: 2rem;
}

.button--fullWidth {
  width: 100%;
}
