.list {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.list a,
.list button {
  border-radius: 10px;
  color: var(--color-light);
  text-decoration: none;
  background-color: var(--color-medium-dark);
  transition: background-color 0.2s linear;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
}

@media (hover: hover) {
  .list a:hover,
  .list button:hover {
    background-color: var(--color-medium);
  }
}

.list a:focus,
.list a:active,
.list button:focus,
.list button:active {
  background-color: var(--color-medium);
}
