.radio {
  margin: 0 1rem 1rem 1rem;
  display: flex;
  align-items: center;
}

.radio__input {
  margin-right: 0.5rem;
}

.radio__label {
  display: inline-block;
  margin-bottom: 0;
}

.input {
  display: block;
  padding: 1rem;
  font-size: 1rem;
  transition: background-color 0.2s linear;
  border: 0 none;
  width: calc(100% - 2rem);
  margin: 0 1rem 1rem 1rem;
  box-shadow: 0 0 10px 2px var(--color-list) inset;
  height: 54px;
}
