.magic__type {
  margin-top: 1rem;
  margin-bottom: 4px;
}

.magic__header-points {
  color: var(--color-font);
}

.header .magic__header-points {
  color: var(--color-font-light);
}

.magic__header-points--error,
.header .magic__header-points--error {
  color: var(--color-error);
  font-weight: bold;
}
