.editor {
  padding-top: 62px;
}

.editor strong {
  margin: 0 5px;
}

.editor__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--color-list);
  margin: 0 -1rem 0 -1rem;
  background: linear-gradient(
    90deg,
    var(--color-list) 0%,
    rgba(232, 221, 203, 1) 50%,
    var(--color-list) 100%
  );
}

.editor__header h2 {
  margin: 0;
  margin-right: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.editor__header .icon {
  margin-left: 5px;
}

.editor__section {
  margin-bottom: 3rem;
}

.editor__section i {
  white-space: nowrap;
}

.editor__points {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
