.radio {
  margin: 0 1rem 1rem 1rem;
  display: flex;
  align-items: center;
}

.radio__input {
  margin-right: 0.5rem;
}

.radio__label {
  display: inline-block;
  margin-bottom: 0;
}

.input {
  background-color: var(--color-white);
  display: block;
  padding: 1rem;
  font-size: 1rem;
  transition: box-shadow 0.2s linear;
  border: 0 none;
  width: calc(100% - 2rem);
  margin: 0 1rem 1rem 1rem;
  height: 54px;
}

@media (hover: hover) {
  .input:hover {
    box-shadow: 0 0 7px 2px var(--color-list) inset;
  }
}

.input:focus,
.input:active {
  box-shadow: 0 0 7px 2px var(--color-list) inset;
}
