.select {
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--color-light);
  border-radius: 10px;
  background-color: var(--color-medium);
  padding: 1rem;
  transition: background-color 0.3s, border-color 0.3s linear;
  width: 100%;

  /* &:active,
  &:focus {
    border-bottom-color: $color--blue;
    background-color: $color-font--white;
  }

  @include desktop {
    &:hover {
      background-color: $color-font--white;
      border-bottom-color: $color--blue;
    }
  } */
}

.select--spaceBottom {
  margin-bottom: 1rem;
}
