.select {
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--color-light);
  border-radius: 10px;
  background-color: var(--color-medium-dark);
  padding: 1rem;
  transition: background-color 0.3s, border-color 0.3s linear;
  width: 100%;
  cursor: pointer;
}

@media (hover: hover) {
  .select:hover {
    background-color: var(--color-medium);
  }
}

.select:focus,
.select:active {
  background-color: var(--color-medium);
}

.select--spaceBottom {
  margin-bottom: 1rem;
}
