.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  flex-shrink: 0;
}

.icon--red {
  stroke: var(--color-red);
  fill: var(--color-red);
}

.icon--green {
  stroke: var(--color-green);
  fill: var(--color-green);
}
