.unit__subline {
  padding-top: 1rem;
}

@media (min-width: 1280px) {
  .unit__subline:first-of-type {
    padding-top: 0;
  }
}

.unit__points {
  font-size: 1rem;
  font-weight: 400;
}

.unit__name {
  margin-right: 0.5rem;
}

.unit__points {
  white-space: nowrap;
}

.unit__empty {
  text-align: center;
  display: block;
  margin-top: 1rem;
}

.unit__strength {
  margin-top: 1rem;
}

.unit__link .list__inner {
  border-top: 2px solid var(--color-list);
}

.unit__link .list__inner label {
  cursor: pointer;
}

.unit__special-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
  margin-top: 1rem;
}

.unit__magic-headline {
  flex-grow: 1;
}

.unit__magic-icon {
  margin-left: 5px;
}

.editor__error {
  color: var(--color-error);
  font-weight: bold;
}

.unit__detachments-header {
  cursor: initial;
  background: linear-gradient(
    90deg,
    var(--color-list) 0%,
    rgba(232, 221, 203, 1) 50%,
    var(--color-list) 100%
  );
}

.unit__detachments-header::before,
.unit__detachments::before {
  content: none;
}

.unit__detachments {
  cursor: initial;
}
