.unit__subline {
  padding-top: 1rem;
}

.unit__points {
  font-size: 1rem;
  font-weight: 400;
}

.unit__name {
  margin-right: 0.5rem;
}

.unit__points {
  white-space: nowrap;
}

.unit__empty {
  text-align: center;
  display: block;
  margin-top: 1rem;
}

.unit__strength {
  margin-top: 1rem;
}

.unit__link .list__inner {
  border-top: 2px solid var(--color-list);
}

.unit__link .list__inner label {
  cursor: pointer;
}
