.add-unit-modal {
  position: fixed;
  height: 90vh;
  bottom: 0;
  bottom: 0;
  width: 100%;
  padding: 0 0.5rem;
}

.add-unit-modal::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.add-unit-modal__inner {
  border-radius: 10px 10px 0 0;
  position: relative;
  background: var(--color-background);
  background: linear-gradient(
    90deg,
    var(--color-background) 0%,
    rgba(254, 245, 230, 1) 50%,
    var(--color-background) 100%
  );
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.add-unit-modal__inner--animate {
  transform: translateY(0);
  opacity: 1;
}

.add-unit-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.add-unit-modal__header h2 {
  flex-grow: 1;
}
