.header {
  background-color: var(--color-header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  height: 62px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header__text {
  text-align: center;
  white-space: nowrap;
  margin: 0 1rem;
  min-width: 0;
  flex-grow: 1;
}

.header__text * {
  color: var(--color-font-light);
}

.header__name {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main {
  padding: calc(62px + 1rem) 1rem 1rem 1rem;
}
