.header {
  background-color: var(--color-header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  height: 62px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  align-items: flex-start;
  position: relative;
  width: calc(100% + 2rem);
  margin: 0 -1rem 1rem -1rem;
}

.header__text {
  text-align: center;
  white-space: nowrap;
  margin: 0 1rem;
  min-width: 0;
  flex-grow: 1;
}

.header__text * {
  color: var(--color-font-light);
}

.column-header .header__text * {
  color: var(--color-font-dark);
}

.header__name {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__more {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--color-header-menu);
  padding: 0.4rem 0;
}

.header__empty-icon {
  width: 54px;
}

.mobile {
  padding: 62px 1rem 1rem 1rem;
  min-height: 100%;
}

.mobile strong {
  margin: 0 5px;
}
