:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-size: 16px;
  --color-font: #1c242f;
  --color-font-light: #f6fffd;
  --color-headline: #384043;
  --color-background: rgb(243, 222, 191);
  --color-list: rgb(221, 196, 165);
  --color-button: #fd7f66;
  --color-header: #303d4d;
  --color-error: #fd7f66;
  --color-success: #92b06a;
}

@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");

* {
  -webkit-tap-highlight-color: transparent;
  border-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button,
a,
*:focus {
  outline: 1px solid transparent;
}

input::-ms-clear {
  display: none;
}

ul {
  list-style: none;
}

button::-moz-focus-inner {
  border-color: transparent;
}

b,
strong {
  font-weight: 700; /* Was still 400 in Firefox */
}

main,
header,
footer,
section,
nav,
aside,
details,
summary,
article,
time {
  display: block;
}

html {
  font-size: var(--font-size);
}

body {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  -moz-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  -ms-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  text-size-adjust: 100%; /* Prevent font scaling in landscape */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
  height: 100%;
  color: var(--color-font);
  font-weight: 400;
  background: var(--color-background);
  background: linear-gradient(
    90deg,
    var(--color-background) 0%,
    rgba(254, 245, 230, 1) 50%,
    var(--color-background) 100%
  );
}

::-moz-selection {
  color: var(--color-light);
  background-color: var(--color-button);
}

::selection {
  color: var(--color-light);
  background-color: var(--color-button);
}

h1 {
  /* font-family: "Gideon Roman", serif; */
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--color-headline);
}

strong {
  font-size: 1.2rem;
}

label {
  display: block;
  margin: 0 1rem 0.5rem 1rem;
  font-weight: 700;
}

p {
  color: var(--color-font);
}
