:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-size: 16px;
  --color-font: #1c242f;
  --color-font-medium: #ccc;
  --color-font-light: #f6fffd;
  --color-headline: #384043;
  --color-background: rgb(243, 222, 191);
  --color-list: rgb(221, 196, 165);
  --color-white: #f6fffd;
  --color-button: #4f7f6b;
  --color-header: #303d4d;
  --color-button-secondary: #303d4d;
  --color-header-menu: #2b3745;
  --color-error: #d14500;
  --color-success: #92b06a;
}

@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");

* {
  -webkit-tap-highlight-color: transparent;
  border-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button,
a,
*:focus {
  outline: 1px solid transparent;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus,
input[type="file"]:focus {
  outline: 2px dotted var(--color-font);
}

input[type="text"],
input[type="number"] {
  -webkit-appearance: none; /* enables box-shadow on iOs */
}

input::-ms-clear {
  display: none;
}

ul {
  list-style: none;
}

button::-moz-focus-inner {
  border-color: transparent;
}

b,
strong {
  font-weight: 700; /* Was still 400 in Firefox */
}

main,
header,
footer,
section,
nav,
aside,
details,
summary,
article,
time {
  display: block;
}

html {
  font-size: var(--font-size);
}

body {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  -moz-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  -ms-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  text-size-adjust: 100%; /* Prevent font scaling in landscape */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
  min-height: 100%;
  color: var(--color-font);
  font-weight: 400;
  background: var(--color-background);
  background: linear-gradient(
    90deg,
    var(--color-background) 0%,
    rgba(254, 245, 230, 1) 50%,
    var(--color-background) 100%
  );
}

::-moz-selection {
  color: var(--color-font-light);
  background-color: var(--color-header-menu);
}

::selection {
  color: var(--color-font-light);
  background-color: var(--color-header-menu);
}

h1 {
  font-family: "Gideon Roman", serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--color-headline);
  line-height: 29px;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--color-headline);
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-headline);
}

.page-headline {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 29px;
}

ul {
  list-style: none;
}

strong {
  font-size: 1.2rem;
}

label {
  display: block;
  margin: 0 1rem 0 0;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

label:hover {
  cursor: pointer;
}

p {
  color: var(--color-font);
  line-height: 1.5;
}

a,
a:visited {
  text-decoration: underline;
  color: var(--color-headline);
  transition: color 0.2s linear;
}

a:focus,
a:active {
  color: var(--color-button);
}

@media (hover: hover) {
  a:hover {
    color: var(--color-button);
  }
}

textarea {
  font-size: 1rem;
}

hr {
  height: 2px;
  background-color: var(--color-list);
  margin: 2rem 0;
}

.radio {
  margin: 0 0 0.5rem 0;
  display: flex;
  align-items: center;
}

.radio__input {
  margin-right: 0.5rem;
}

.radio__input:hover {
  cursor: pointer;
}

.radio__label {
  display: flex;
  margin: 0;
  padding: 0.5rem 0;
  user-select: none;
  justify-content: space-between;
  font-weight: 400;
  width: 100%;
  align-items: center;
}

.radio__input:disabled + .radio__label,
.checkbox__input:disabled + .checkbox__label {
  opacity: 0.3;
  cursor: default;
}

.input {
  background-color: var(--color-white);
  display: block;
  padding: 1rem;
  font-size: 1rem;
  transition: box-shadow 0.2s linear;
  border: 0 none;
  width: 100%;
  margin: 0 1rem 1rem 0;
  height: 48px;
}

@media (hover: hover) {
  .input:hover {
    box-shadow: 0 0 7px 2px var(--color-list) inset;
  }
}

.input:focus,
.input:active {
  box-shadow: 0 0 7px 2px var(--color-list) inset;
}

.input:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.input[type="file"] {
  background: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 0;
}

.textarea {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 48px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.checkbox--conditional {
  margin-left: 0.5rem;
}

.checkbox__label {
  display: flex;
  margin: 0;
  padding: 0.5rem 0;
  user-select: none;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  width: 100%;
}

.checkbox__input {
  margin-right: 0.5rem;
}

.checkbox__points {
  margin-left: 0.5rem;
  text-align: right;
  white-space: nowrap;
  font-weight: normal;
}

.column {
  width: 25%;
  padding: 0 2rem 1rem 2rem;
  position: relative;
}

.column::before {
  content: "";
  left: 1rem;
  top: 0;
  width: 2px;
  position: absolute;
  background-color: var(--color-list);
  height: 100%;
}

.column::after {
  content: "";
  right: 1rem;
  top: 0;
  width: 2px;
  position: absolute;
  background-color: var(--color-list);
  height: 100%;
}
