:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-size: 16px;
  --font-color: #fff;
}

* {
  -webkit-tap-highlight-color: transparent;
  border-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button,
a,
*:focus {
  outline: 1px solid transparent;
}

input::-ms-clear {
  display: none;
}

ul {
  list-style: none;
}

button::-moz-focus-inner {
  border-color: transparent;
}

b,
strong {
  font-weight: 700; /* Was still 400 in Firefox */
}

main,
header,
footer,
section,
nav,
aside,
details,
summary,
article,
time {
  display: block;
}

html {
  font-size: var(--font-size);
}

body {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  -moz-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  -ms-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  text-size-adjust: 100%; /* Prevent font scaling in landscape */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
  height: 100%;
  color: var(--font-color);
  font-weight: 400;
  background-color: #3b303e;
}

::-moz-selection {
  color: #fff;
  /* background-color: $color-font--primary; */
}

::selection {
  color: #fff;
  /* background-color: $color-font--primary; */
}

.header {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

main {
  padding: 0.5rem;
}

.button {
  background-color: #201b21;
  color: var(--font-color);
  padding: 0.5rem;
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.title {
  flex-grow: 1;
}
