.unit-preview-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}

.unit-preview {
  position: fixed;
  padding: 0 1rem;
  z-index: 3;
  width: 25rem;
  max-width: 90%;
  height: 80%;
  top: 10%;
  left: 50%;
  background: var(--color-background);
  background: linear-gradient(
    90deg,
    var(--color-background) 0%,
    rgba(254, 245, 230, 1) 50%,
    var(--color-background) 100%
  );
  transform: translateX(-50%);
  overflow-y: auto;
  border: 2px solid var(--color-list);
}

.unit-preview__close {
  position: absolute;
  right: 0;
  top: 1rem;
  border: 0 none;
}
